* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.continer {
    max-width: 1337px;
    width: 100%;
    margin: auto;
}

.nav_content .nav_itemes {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a,
li {
    text-decoration: none;
    list-style: none;
    color: #fff;
}

.nav_itemes ul {
    display: flex;
    gap: 64px;
}

header {
    background-color: #251928;
    width: 100%;
    height: 670px;
}

/* HOWER */
li:hover {
    color: #FFCE4E;
}

button {
    color: #FFCE4E;
    background: none;
    border: 1px solid #FFCE4E;
    padding: 21px 30px;
}

.header_content span {
    color: #FFCE4E;
}

.header_content h1 {
    color: #fff;
}

.blur_img {
    background-image: url(imgs/Blurr\ effect.png);
    width: 770px;
    height: 600px;
    background-image: url(imgs/unsplash_0_8gAoFrzbw.png);
    background-size: cover;
    /* position: absolute;
    left: 700px;
    top: -70px; */
}

.header_divs {
    display: flex;
    justify-content: space-between;
}

.header_text {
    margin-top: 171px;
    font-size: 45px;
    font-weight: 700;
}

.blur_img ul {
    background-color: #E03054;
    height: 90px;
    display: flex;
    justify-content: space-between;
}

.blur_img li span {
    width: 139px;
    height: 33px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left,
    .right {
        display: flex;
        flex-direction: column;
    }
}

.bid-card {
    width: 530px;
    padding: 20px 25px;
    border-radius: 16px;
    margin: 10px;
    background: linear-gradient(90deg, #ff4da6, #ff7a59);
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;

    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.bid-left,
.bid-right {
    display: flex;
}

.bid-label {
    font-size: 14px;
    margin-bottom: 6px;
}

.bid-value {
    font-size: 28px;
    font-weight: 700;
}