*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.continer{
    max-width: 1337px;
    width: 100%;
    margin: auto;
}
.nav_content .nav_itemes{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a, li{
    text-decoration: none;
    list-style: none;
    color: #fff;
}
ul{
    display: flex;
    gap: 64px;
}
header{
    background-color: #251928;
    width: 100%;
    height: 670px;
}
/* HOWER */
li:hover{
   color: #FFCE4E;
}
button{
    color: #FFCE4E;
    background: none;
    border: 1px solid #FFCE4E;
    padding: 21px 30px ;
}
.header_content span{
    color: #FFCE4E;
}
.header_content h1{
    color: #fff;
}
.blur_img{
    background-image: url(imgs/Blurr\ effect.png);
    width: 770px;
    height: 1000px;
    /* position: absolute;
    left: 700px;
    top: -70px; */
}
.header_divs{
    display: flex;
    justify-content: space-between;
}
.header_text{
    margin-top: 171px;
    font-size: 45px;
    font-weight: 700;
}